/* You can add global styles to this file, and also import other style files */
@import "~@a-ui/core/src/styles/quarks";

body {
  display: flex;
  min-height: 100vh;
  height: 200px; /*IE 11 flexbox min-height fix*/
}

app-root,
app-root > ng-component {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.o-header__title {
  color: $white;
}

.o-header__logo {
  position: static;

  img {
    height: $spacer * 2;
  }
}

.u-wrapper {
  flex: 1 0 auto;
  width: 100%;
}
