<aui-header>
    <div auiHeaderContent>
      <div class="o-header__wrapper">
          <aui-logo src="https://cdn.antwerpen.be/core_branding_scss/3.1.0/assets/images/a-logo.svg"></aui-logo>
      </div>
    </div>
    <div auiHeaderMenuItem>
      <a routerLink="/home">
        <button class="a-button">
          <span>Home</span>
        </button>
      </a>
      <a routerLink="/form">
        <button class="a-button">
          <span>Nieuw</span>
        </button>
      </a>
    </div>
  </aui-header>
  <main class="u-wrapper">
    <div class="u-container u-margin-top-lg u-margin-bottom-lg" role="main">
      <router-outlet></router-outlet>
    </div>
  </main>
  <aui-footer>
    <div auiFooterBottom>
      <aui-subfooter>
        <aui-copyright domain="Stad Antwerpen"></aui-copyright>
      </aui-subfooter>
    </div>
  </aui-footer>